<ion-header>
  <ion-toolbar>
    <ion-title>Recomendación de Rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="rutina">
    <ion-card-header>
      <ion-card-title>{{ rutina.nombre_rutina }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ rutina.descripcion }}</p>
      <p><strong>Tipo de Rutina:</strong> {{ rutina.tipo_rutina }}</p>
      <p><strong>Tipo de Usuario:</strong> {{ rutina.tipo_usuario }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="asignarRutina()">Obtener Rutina Recomendada</ion-button>
</ion-content>
