<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>respuesta-admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">{{ comentario?.motivo }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label style="word-wrap: break-word; white-space: normal;">{{ comentario.texto }}</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-input label="Respuesta" labelPlacement="floating" placeholder="Ingrese respuesta" [(ngModel)]="comentario.respuesta"></ion-input>
  </ion-item>
  <ion-button color="success" (click)="modificar()">Enviar respuesta</ion-button><br>
  <ion-button color="warning" [routerLink]="['/listado-']">Lista de Comentarios</ion-button>
</ion-content>
