<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="cont-foto">
    <img [src]="imagen ? imagen : 'https://cdn.icon-icons.com/icons2/3868/PNG/512/profile_circle_icon_242774.png'" 
    alt="Foto de perfil" class="foto-perfil" (click)="takePicture()">
  </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ usuario.nombre }}</ion-card-title>
        <ion-card-subtitle> {{ usuario.objetivo }} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Estatura: </strong> {{ usuario.estatura }}</p>
        <p><strong>Peso: </strong> {{ usuario.peso }}</p>
        <p><strong>IMC: </strong> {{ usuario.imc | number:'1.1-1' }}</p>
      </ion-card-content>
    </ion-card>

    <ion-item lines="none">
      <ion-label><strong>Rutina Asignada: </strong>{{ rutinaAsignada }}</ion-label>
    </ion-item>
    

  <ion-button  color="warning" [routerLink]="'/recomendacion-rutina'">Ver tu rutina</ion-button>
</ion-content>