<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let x of arregloProducto">
    <ion-card>
      <ion-card-header>
        <ion-card-title><strong>Producto: </strong>{{ x.nombre_producto }}</ion-card-title>
        <ion-card-subtitle><strong>Descripción: </strong>{{ x.descripcion_producto }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="x.foto_producto" alt="Imagen del producto" class="img-producto"></ion-img>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>
