<ion-header>
  <ion-toolbar>
    <ion-title>Administrar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let x of arregloUsuario">
      <ion-item>
        <h2>{{ x.nombre }}</h2><br>
        <ion-label style="word-wrap: break-word;white-space: normal;">
          {{ mostrarRol(x.id_rol) }}
        </ion-label>
      </ion-item>

        <ion-button (click)="modificar(x)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="eliminar(x)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
    </ion-item-sliding>
  </ion-list>

  <ion-button color="warning" expand="block" [routerLink]="'/listado-comentarios'">Comentarios de usuarios</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
