<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item class="container">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="datosLogin.usuario" type="text"></ion-input>
    </ion-item>

    <ion-item class="container">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="datosLogin.contrasena" type="password"></ion-input>
    </ion-item>

    <ion-button class="btn-ing-reg" color="warning" expand="block" (click)="login()">Ingresar</ion-button>
    <ion-button class="btn-ing-reg" color="warning" expand="block" [routerLink]="'/registro'">Registrar</ion-button>
    <ion-button class="btn-ing-reg" color="warning" expand="block" [routerLink]="'/recuperar-contra'">Olvidó su contraseña?</ion-button>
  </form>
</ion-content>
