<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Motivo" labelPlacement="floating" placeholder="Ingrese el motivo" [(ngModel)]="motivo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Comentario" labelPlacement="floating" placeholder="Ingrese su comentario"  [(ngModel)]="texto"></ion-input>
  </ion-item>
  <ion-button color="success" [routerLink]="'/home'" (click)="insertar()">Enviar comentario</ion-button>
</ion-content>
