<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarFormulario()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="datosRecuperacion.usuario" name="usuario" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="datosRecuperacion.contrasena" name="contrasena" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="datosRecuperacion.confirmarContrasena" name="confirmarContrasena" required></ion-input>
    </ion-item>

    <ion-button color="warning" expand="block" type="submit">Actualizar Contraseña</ion-button>
  </form>
</ion-content>
