<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre Usuario</ion-label>
    <ion-input [(ngModel)]="usuario.nombre" readonly required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rol</ion-label>
    <ion-select [(ngModel)]="usuario.id_rol" [placeholder]="getPlaceholder()" required>
      <ion-select-option value="1">Admin</ion-select-option>
      <ion-select-option value="2">Usuario</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button color="warning" expand="block" (click)="modificar()">Modificar Usuario</ion-button>
  <ion-button color="warning" expand="block" [routerLink]="['/admin']">Ir a lista de usuarios</ion-button>
</ion-content>
